:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1a7a3a;
  --color-accent: #af7230;
}

@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  min-height: 100vh;
  color: var(--color-light);
  background-color: var(--color-darkest);
  padding: 3.2rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 50rem;
}

.app-header {
  width: 66rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

img {
  width: 14rem;
}

h1 {
  font-family: 'Codystar';
  font-size: 5.6rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

/* .result-Out {
  font-size: 1.8rem;
  font-weight: 200;
} */

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  margin-bottom: 1.5rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-medium);
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.btn-option.correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-light);
}
.btn-option.wrong {
  color: var(--color-light);
}

footer {
  display: flex;
  justify-content: space-between;
}
/* footer * {
  margin-right: 90px;
} */
/* .btn-prev {
  float: left;
} */

.answer {
  transform: translateX(1.5rem);
  background-color: var(--color-accent);
}

.wrong {
  color: rgb(165, 2, 2);
  font-weight: 500;
}
.correct {
  color: rgb(0, 165, 0);
  font-weight: 500;
}
.not-answered {
  color: var(--color-accent);
  font-weight: 500;
}

.result {
  width: 100%;
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 15px;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  padding: 15px 15px;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;

  color: var(--color-medium);
  font-size: 1.4rem;
}

.timer {
  width: 25%;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--color-medium);
  border: 2px solid var(--color-dark);
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
  margin-inline: auto;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* ********** */
/* First counter example */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 6rem;
}

.counter * {
  font-size: inherit;
  padding: 0.8rem;
}

.question {
  border: solid rgb(146, 146, 146) 1px;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

.question-Section h2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
  .main {
    width: 100%;
  }
  .app-header {
    width: 100%;
  }
  img {
    width: 15%;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  h4 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }
  h5 {
    font-size: 1.6rem;
    font-weight: 250;
    margin-bottom: 0.5rem;
  }
  .btn {
    font-size: 1.4rem;
    padding: 1.2rem 2.4rem;
  }
  .timer {
    font-size: 1.4rem;
  }
}
